div.header {
  position: relative;
}

div.header img {
  width: 50px;
  height: auto;
  padding: 1em;
  position: absolute;
}

div.header h4 {
  padding: 5em;
}

div.container {
  padding: 5em;
  height: 600px;
  position: relative
}

div.container img {
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

