<div class="header">
  {{#link-to 'splash' use="fly-to"}}
    <img class="header-img" src="/images/logo.png" alt="4 Legs Software">
  {{/link-to}}
  <h4> 4 Legs Software
    <p>@robpark</p></h4>
</div>
